.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-direction: column;
}

.form-group {
  background: aliceblue;
  padding: 10px 20px;
  margin-top: 100px;
}

.form-select {
  width: 250px;
}

.result {
  display: flex;
  margin-top: 50px;
}

.price {
  list-style-type: none;
  border: 0 solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
}

.week {
    font-size: 12px;
    margin-left: 65px;
    color: #a5a5a5;
}

.image {
  margin-left: 65px;
}

.weather {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  padding: 0px 20px;
  margin: 20px 0px;
}

.weather div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.weather span {
  font-size: 16px;
  font-weight: 500;
  color: black;
}


